.body {
  background-image: url("https://cdn.pixabay.com/photo/2018/08/23/07/35/thunderstorm-3625405__480.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  width: 100vw;
  height: 100vh;
}

.title {
  display: grid;
  justify-content: center;
  color: rgb(113, 247, 158);
  font-size: 24px;
}

.para1,
.para2,
.para3,
.heading {
  color: rgb(113, 247, 158);
}

@media only screen and (max-width: 600px) {
  .body {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}















